# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
# Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
s1= pd.Series([2,4,6,8,10])
s2= pd.Series([1,3,5,7,9])
s3=s1+s2
print(s3)
s4=s1-s2
print(s4)
s5=s1*s2
print(s5)
s6=s1/s2
print(s6)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [4]:
s
print(s)
print(s.dtype)
s7= s.tolist()
print(s7)
print(type(s7))
s8=tuple(s7)
print(s8)
print(type(s8))

0    10
1    20
2    30
3    40
4    50
dtype: int64
int64
[10, 20, 30, 40, 50]
<class 'list'>
(10, 20, 30, 40, 50)
<class 'tuple'>

# Write a Pandas program to compare the elements of the two Pandas Series.
# Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [5]:
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,9])
print(s1>s2)
print(s1<s2)
print(s1==s2)

0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

# Write a Pandas program to convert a dictionary to a Pandas series.
# Original dictionary:
# {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [6]:
s9 = pd.Series({'a':100,'b':200,'c':300,'d':400,'e':500})
print(s9)

a    100
b    200
c    300
d    400
e    500
dtype: int64

# Write a Pandas program to convert a NumPy array to a Pandas series.
# NumPy array: [10 20 30 40 50]

In [7]:
n= np.array([10,20,30,40,50])
s10=pd.Series(n)
print(s10)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [8]:
# Write a Pandas program to change the data type of given a column or a Series
# Sample Series:
### Original Data Series:
#### 0 100
#### 1 200
#### 2 python
#### 3 300.12
#### 4 400
#### dtype: object

### Change the said data type to numeric:
#### 0 100.00
#### 1 200.00
#### 2 NaN
#### 3 300.12
#### 4 400.00
#### dtype: float64

In [9]:
s11 = pd.Series(['100','200','python','300.12','400'])
print(s11)
s12 = pd.to_numeric(s11,errors='coerce')
print(s12)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [10]:
# Write a Pandas program to convert the first column of a DataFrame as a Series.
## Original DataFrame
###    col1 col2 col3
### 0 1 4 7
### 1 2 5 5
### 2 3 6 8
### 3 4 9 12
### 4 7 5 1
### 5 11 0 11

## 1st column as a Series:
### 0 1
### 1 2
### 2 3
### 3 4
### 4 7
### 5 11
### Name: col1, dtype: int64

In [11]:
d1 = pd.DataFrame({'col1': [1,2,3,4,7,11],'col2': [4,5,6,9,5,0],'col3': [7,5,8,12,1,11]})
print(d1)
type(d1)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

pandas.core.frame.DataFrame

In [12]:
first_col = d1.loc[:,['col1']]   #using loc function selecting all roe=ws and first column where a dataframe is returned
print(first_col)
type(first_col)
#s13 = pd.Series(first_col)
#s13

   col1
0     1
1     2
2     3
3     4
4     7
5    11

pandas.core.frame.DataFrame

In [13]:
print(d1['col1'])  #we are separating the first column from the dataframe as a series object. Here the functionality is like creating a subset
type(d1['col1'])

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

pandas.core.series.Series

In [14]:
# Write a Pandas program to convert a given Series to an array.
## Sample Output:
### Original Data Series:
#### 0 100
#### 1 200
#### 2 python
#### 3 300.12
#### 4 400
#### dtype: object

### Series to an array
#### ['100' '200' 'python' '300.12' '400']

In [15]:
s13 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s13)
type(s13)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

pandas.core.series.Series

In [16]:
n1 = np.array(s13)
print(n1)
type(n1)

['100' '200' 'python' '300.12' '400']

numpy.ndarray

In [17]:
# Write a Pandas program to convert Series of lists to one Series.
## Sample Output:
### Original Series of list
#### 0 [Red, Green, White]
#### 1 [Red, Black]
#### 2 [Yellow]
#### dtype: object
### One Series
#### 0 Red
#### 1 Green
#### 2 White
#### 3 Red
#### 4 Black
#### 5 Yellow
#### dtype: objec

In [18]:
L1= ['Red','Green','White']
L2= ['Red','Black']
L3= ['Yellow']
s14 = pd.Series([L1,L2,L3])
print(s14)
#print(s14.values)
L= []
L=L1+L2+L3
print(L)
s15= pd.Series(L)
print(s15)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
['Red', 'Green', 'White', 'Red', 'Black', 'Yellow']
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [19]:
# Write a Pandas program to sort a given Series.
## Sample Output:
### Original Data Series: 0 100
#### 1 200
#### 2 python
#### 3 300.12
#### 4 400
#### dtype: object
#### 0 100
#### 1 200
#### 3 300.12
#### 4 400
#### 2 python
#### dtype: object

In [20]:
s16 = pd.Series(['100', '200', 'python', '300.12', '400'])
s16

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [21]:
s16.values

array(['100', '200', 'python', '300.12', '400'], dtype=object)

In [22]:
s17 = pd.Series(s16).sort_values()
print(s17)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [23]:
# Write a Pandas program to add some data to an existing Series.
## Sample Output:
### Original Data Series:
#### 0 100
#### 1 200
#### 2 python
#### 3 300.12
#### 4 400
#### dtype: object
# Data Series after adding some data:
#### 0 100
#### 1 200
#### 2 python
#### 3 300.12
#### 4 400
#### 0 500
#### 1 php
#### dtype: object

In [24]:
print(s16)
s16_new = s16.append(pd.Series(['500', 'php']))
# s16['5'] = 500
# s16['6'] = 'php'
print(s16_new)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [25]:
# # Write a Pandas program to create a subset of a given series based on value and condition.
# Sample Output:
# Original Data Series:
# 0 0
# 1 1
# 2 2
# 3 3
# 4 4
# 5 5
# 6 6
# 7 7
# 8 8
# 9 9
# 10 10
# dtype: int64
# Subset of the above Data Series:
# 0 0
# 1 1
# 2 2
# 3 3
# 4 4
# 5 5
# dtype: int64

In [26]:
s17 = pd.Series([ i for i in range(11)])
print(s17)
s17_new1 = pd.Series([ i for i in s17 if i <= 5])
print(s17_new1)
#s17_new = pd.Series([ s17.values <= 5 ])
#print(s17_new)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [27]:
# Write a Pandas program to change the order of index of a given series.
# Sample Output:
# Original Data Series:
# A 1
# B 2
# C 3
# D 4
# E 5
# dtype: int64
# Data Series after changing the order of index:
# B 2
# A 1
# C 3
# D 4
# E 5
# dtype: int64

In [28]:
s18 = pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
print(s18)
s18_new = s18.reindex(index = ['B','A','C','D','E'])
print(s18_new)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [29]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series.
# Sample Output:
# Original Data Series:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 5
# 5 6
# 6 7
# 7 8
# 8 9
# 9 5
# 10 3
# dtype: int64
# Mean of the said Data Series:
# 4.818181818181818
# Standard deviation of the said Data Series:
# 2.522624895547565

In [30]:
s19 = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(s19)
Mean = s19.mean()
Std = s19.std()
print(Mean)
print(Std)
#print(round(Mean,2))
#print(round(Std,2))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
4.818181818181818
2.522624895547565

In [31]:
# Write a Pandas program to get the items of a given series not present in another given series.
# Sample Output:
# Original Series:
# sr1:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 5
# dtype: int64
# sr2:
# 0 2
# 1 4
# 2 6
# 3 8
# 4 10
# dtype: int64
# Items of sr1 not present in sr2:
# 0 1
# 2 3
# 4 5
# dtype: int64

In [32]:
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
print(sr1)
print(sr2)
sr3 = pd.Series(sr1[~sr1.isin(sr2)])
print(sr3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
2    3
4    5
dtype: int64

In [33]:
# Write a Pandas program to get the items which are not common of two given series.
# Sample Output:
# Original Series:
# sr1:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 5
# dtype: int64
# sr2:
# 0 2
# 1 4
# 2 6
# 3 8
# 4 10
# dtype: int64
# Items of a given series not present in another given series:
# 0 1
# 2 3
# 4 5
# 5 6
# 6 8
# 7 10
# dtype: int64

In [34]:
print(sr1)
print(sr2)
union = pd.Series(np.union1d(sr1,sr2))
print("Union of the sets:")
print(union)
intersection = pd.Series(np.intersect1d(sr1,sr2))
print("Intersection of the sets:")
print(intersection)
print("Uncommon items in both sr1 and sr2")
uncommon = print(pd.Series(union[~union.isin(intersection)]))
print("To check whether all elements of union series are there in intersection series:")
unc1 = print(pd.Series(intersection.isin(union)))
print("To check whether all elements of intersection series are there in union series:")
unc2 = print(pd.Series(union.isin(intersection)))

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
Union of the sets:
0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64
Intersection of the sets:
0    2
1    4
dtype: int64
Uncommon items in both sr1 and sr2
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64
To check whether all elements of union series are there in intersection series:
0    True
1    True
dtype: bool
To check whether all elements of intersection series are there in union series:
0    False
1     True
2    False
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [35]:
# Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
# Sample Output:
# Original Series:
# 0 3.000938
# 1 11.370722
# 2 14.612143
# 3 8.990256
# 4 13.925283
# 5 12.056875
# .... 17 14.118931
# 18 8.247458
# 19 5.526727
# dtype: float64
# Minimum, 25th percentile, median, 75th, and maximum of a given series:
# [ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [ ]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series
# Sample Output:
# Original Series:
# 0 1
# 1 7
# 2 1
# 3 6
# 4 9
# 5 1
# ... 29 2
# 30 9
# 31 1
# 32 2
# 33 9
# 34 2
# 35 9
# 36 0
# 37 0
# 38 4
# 39 8
# dtype: object
# Frequency of each unique value of the said series.
# 0 9
# 2 7
# 9 6
# 1 5
# 6 3
# 8 3
# 7 3
# 3 2
# 4 1
# 5 1
# dtype: int64

In [42]:
s20=pd.Series([1,2,3,4,5,6,7,8,9,10,15,6,6,8,9,9,20])
print(s20)
#s20.value_counts(normalize=False)
s21= pd.Series(s20.value_counts())
print(s21)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    15
11     6
12     6
13     8
14     9
15     9
16    20
dtype: int64
6     3
9     3
8     2
1     1
2     1
3     1
4     1
5     1
7     1
10    1
15    1
20    1
dtype: int64

In [59]:
# Write a Pandas program to display most frequent value in a given series
# and replace everything else as 'Other' in the series.

In [65]:
print(s21)
print(type(s21))
d2 = pd.DataFrame(s21.values)
print(d2)
d2_new = d2.loc[0:11]
print(d2_new)
s22 = pd.Series(d2_new)
print(s22)
#s22 = pd.Series([s21.values] if s21.values > 1)

6     3
9     3
8     2
1     1
2     1
3     1
4     1
5     1
7     1
10    1
15    1
20    1
dtype: int64
<class 'pandas.core.series.Series'>
    0
0   3
1   3
2   2
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
11  1
    0
0   3
1   3
2   2
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
11  1

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().